{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>
<div class="container mt-2">
    {% include 'includes/messages.html' %}
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
